@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .address {
    margin-left: 332px;
  }

  .address-list {
    display: flex;
    align-items: normal;
    flex-direction: row;
  }
  .address-tel {
    margin-left: 40px;
  }
  /* Hero */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/people-office.jpg');
    max-width: 1440px;
    height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      max-width: 1440px;
      height: 600px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/responsive-img/people-office-des-2x.jpg);
    }
  }

  .hero-container {
    padding: 188px 0;
  }

  .about {
    padding: 120px 0;
  }

  .about-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .about-icon {
    background-color: var(--third-backgrounds-color);
    width: 100%;
    height: 112px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .about-icon-item {
    fill: var(--navigation-link-color);
    display: block;
  }
  .about-description {
    font-weight: 400;
    max-width: 264px;
  }

  /* Service */
  .service {
    display: block;
    padding-bottom: 120px;
  }

  .service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .sevrice-list {
    display: flex;
    gap: 24px;
  }

  /* Team */

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-direction: row;
    align-items: stretch;
  }

  /* Customer */

  .customers {
    padding: 120px 0 120px;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  /* Footer */
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    display: flex;
  }

  .footer-about {
    align-items: normal;
  }

  .footer-description {
    margin-bottom: 0;
  }

  .footer-social-media {
    margin-left: 120px;
    margin-bottom: 0;
    align-items: normal;
  }

  .footer-form {
    align-items: normal;
    position: relative;
    margin-left: 80px;
  }

  .footer-input {
    margin-bottom: 0;
    width: 264px;
  }

  .footer-btn {
    position: absolute;
    top: 37%;
    left: 100%;
    margin-left: 24px;
  }
  /* Modal */
  .modal {
    min-width: 408px;
    min-height: 584px;
  }
  /* Portfolio */

  .portfolio {
    padding: 100px 0 120px 0;
  }

  .portfolio-list-btn {
    margin-bottom: 72px;
  }

  /* Work examles */
  .portfolio-list-examples {
    gap: 48px 24px;
  }
    
}
